{% extends "main/base.html" %}
{% load static %}

{% block title %}Saudi Museums & Cultural Hubs{% endblock %}

{% block content %}


    <link rel="stylesheet" href="{% static 'css/home.css' %}">




<!-- Hero Section -->
<header class="hero">
    <div class="hero-content">
        <h1>Discover Saudi Arabia’s Museums and Cultural Hubs</h1>
        <p>Explore the museums and cultural centers across the Kingdom</p>
<form class="search-box" action="{% url 'search' %}" method="GET">
            <input type="text" name="q" placeholder="Search for an authority or museum..." required>
            <button type="submit">Search</button>
        </form>
    </div>
</header>


<section class="museum-intro">
    <div class="intro-box">
        <div class="intro-text">
            <h2>Museum Highlights in Saudi Arabia</h2>
            <p>
                We are delighted to have you here, and we aim to provide an exceptional experience that helps you discover the most prominent cultural and heritage landmarks across the Kingdom.
            </p>
        </div>
        <div class="intro-image">
            <img src="{% static 'image/pho.jpg' %}" alt="Museum Highlights">
        </div>
    </div>
</section>


<!-- Authorities Section -->
<section class="authorities container">

</section>





{% endblock %}
