{% extends "main/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/add_authority.css' %}">

<div class="authority-container">

    {% if messages %}
    <div class="msg-box">
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <!-- العنوان يتغير حسب إذا كنا في وضع تعديل أو إضافة -->
    <h2 class="authority-title">
        {% if update_mode %}
            Update Authority
        {% else %}
            Add Your Authority
        {% endif %}
    </h2>

    <p class="authority-sub">
        {% if update_mode %}
            Modify authority information
        {% else %}
            Fill in your authority information
        {% endif %}
    </p>

    <form method="POST" enctype="multipart/form-data" class="authority-form">
        {% csrf_token %}

        <!-- نوع الهيئة -->
        <div class="authority-group">
            <label>Authority Type</label>
            {{ form.type }}
        </div>

        <!-- اسم الهيئة -->
        <div class="authority-group">
            <label>Authority Name</label>
            {{ form.name }}
        </div>

        <!-- الوصف -->
        <div class="authority-group">
            <label>Description</label>
            {{ form.description }}
        </div>

        <!-- الموقع النصي -->
        <div class="authority-group">
            <label>Location</label>
            {{ form.location }}
        </div>

        <!-- رابط قوقل ماب -->
        <div class="authority-group">
            <label>Google Map Link</label>
            {{ form.map_url }}
        </div>

        <!-- صورة الهيئة -->
        <div class="authority-group">
            <label>Authority Image</label>
            {{ form.image }}
        </div>

        <!-- زر الإرسال يتغير حسب الوضع -->
        <button class="authority-btn">
            {% if update_mode %}
                Update
            {% else %}
                Submit
            {% endif %}
        </button>

    </form>
</div>

{% endblock %}
