{% extends "main/base.html" %}
{% block title %}Search Results{% endblock %}

{% block content %}
<h2>Search results for "{{ request.GET.q }}"</h2>

<h3>Authorities</h3>
{% if authorities %}
    <ul>
    {% for a in authorities %}
        <li><a href="{% url 'details' a.id %}">{{ a.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No authorities found.</p>
{% endif %}

<h3>Museums</h3>
{% if museums %}
    <ul>
    {% for m in museums %}
        <li>{{ m.name }} ({{ m.authority.name }})</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No museums found.</p>
{% endif %}

{% endblock %}
